/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro",
    "Helvetica Neue", Inter, Arial, sans-serif;
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 20px;
}
