<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YN Translator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">  
</head>

<body>

    <div class="container">
        <h2>Submit Content and Role</h2>

        <form id="dataForm">
            <label for="content">Content:</label>
            <input value="Hello World" type="email" id="content" name="content" required onchange="printValue(event)">
            <br>

            <label for="role">Role:</label>
            <input value="Rastaman" type="text" id="role" name="role" required>
            <br>

            <button type="button" id="SubmitButton" onclick="submitData()">Submit</button>
        </form>

        <!-- Text area for displaying the message returned from the POST request -->
        <label for="responseMessage">Response Message:</label>
        <textarea id="responseMessage" readonly></textarea>
    </div>

    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>

</html>